.comments-container {
    padding: 10px;
}

.comments-container ul {
    list-style-type: none;
}

.comments-container .sub-comments li {
    padding: 20px 0 20px 100px;
}

.comments-container .vote {
    position:  absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.comments-container .row {
    position:  relative;
    padding-left: 120px;
    height: auto;
}